*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #56baed;
}

.select-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px 25px 25px;
  border-radius: 5px;
  max-width: 330px;
  
}

.select-box header{
  font-size: 23px;
  font-weight: 600;
}